.CrossWordArea {
  width: auto;
  height: 50vw;
  text-align: center;
  background-color: aquamarine;
  font-size: 0; /*div間の隙間消し*/
}

.row1 {
    /* margin-top: -1.5px; */
}

.row2{
    /* margin-top: -1.5px; */
}
.cell {
  width: 1em;
  height: 1em;
  /* border-color: #000; */
  /* border-width: 0.1em; */
  text-align: center;
  font-size: large;
  border: 0.5px #000 solid;
  -webkit-appearance: none;
  border-radius: 0;
}

.disabled {
  background-color: #000;
  /* opacity:0; */
}

div.row1 > .cell:nth-child(3) {
  background-color: blue;
}

div.row2 > .cell:nth-child(4) {
  background-color: blue;
}
